<?xml version='1.0' encoding='utf-8'?>

<widget id="com.cts.dodma.org.mw" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
   <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />

    <name>ctsapp</name>
    <description>DODMA COMMODITY TRACKING SYSTEM</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        John Guido Chalera
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
